@import '../../../../screen.mixins.scss';

.creatable-plan-list-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8px;

  mat-card {
    width: 20%;
    margin-bottom: 10px;
    cursor: pointer;

    mat-card-title {
      text-align: center;
    }

    mat-card-subtitle {
      text-align: center;
      margin: 10px;
    }
  }

  @include small-phone {
    mat-card {
      height: 75px;
      width: 100%;
    }
  }

  @include phone {
    mat-card {
      height: 75px;
      width: 42%;
    }
  }

  @include tablet {
    mat-card {
      width: 28%;
    }
  }
}
