@import '../../../../screen.mixins.scss';

.creatable-plan-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;

  mat-card {
    width: 29%;
    margin: 5px 1px 5px 1px;
    cursor: pointer;

    mat-card-title {
      text-align: center;
    }

    mat-card-subtitle {
      text-align: center;
      margin: 10px;
    }
  }

  @include small-phone {
    mat-card {
      height: 75px;
      width: 100%;
    }
  }

  @include phone {
    mat-card {
      height: 75px;
      width: 42%;
    }
  }

  @include tablet {
    mat-card {
      width: 28%;
    }
  }
}
