
$side-margin: 30px;
$top-margin: 15px;

.football-form {
  display: flex;
  flex-flow: column nowrap;
  inline-size: 100%;

  mat-form-field {
    margin-inline-start: $side-margin;
    margin-inline-end: $side-margin;
    min-inline-size: 40%;
  }

  .football-form__main-details {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
  }

  .football-form__button-group {
    display: flex;
    flex-flow: column nowrap;
    margin-block-end: 10px;
    margin-inline-start: $side-margin;
    margin-inline-end: $top-margin;
    inline-size: fit-content;

    mat-label {
      margin-block-end: 5px;
    }
  }

  // modify material design
  .mat-card {
    background: #424280;
  }

  .create-sport-form__add-steps-card {
    margin-inline-start: $side-margin;
    margin-inline-end: $side-margin;
    margin-block-start: $top-margin;

    .create-sport-form__add-steps-form {
      display: flex;
      flex-flow: column nowrap;
      inline-size: 100%;
    }
  }

  .create-sport-form__add-new-step-button {
    margin: $top-margin $side-margin $top-margin $side-margin;
  }
}
