/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    margin: 0;

    .mat-button-toggle-label-content {
        line-height: 30px !important; /* stylelint-disable-line declaration-no-important */
    }
}
