.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.language-buttons-container {
  margin-right: 0;
  margin-left: auto;

  .language-buttons-container__button {
    min-width: 0;
    color: midnightblue;
    padding: 0 10px;
  }

  .active {
    color: white;
  }

  .language-buttons-container__divider {
    border-left: 1px solid white;
    height: inherit;
  }
}

