<div class="mat-elevation-z8">
  <table mat-table class="full-width" aria-label="Elements">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{'PLANS.column.name' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="ageClass">
      <th mat-header-cell *matHeaderCellDef>{{'PLANS.column.ageClass' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.ageClass}}</td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef>{{'PLANS.column.level' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.level}}</td>
    </ng-container>

    <ng-container matColumnDef="creator">
      <th mat-header-cell *matHeaderCellDef>{{'PLANS.column.creator' | translate}}</th>
      <td mat-cell *matCellDef="let row">{{row.creator}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon [attr.aria-label]="'PLANS.column.actions.delete' | translate">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
