
$side-margin: 30px;
$top-margin: 15px;

.page-heading {
  margin-left: $side-margin;
  margin-bottom: 10px;
}

.create-form-group {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  mat-form-field {
    margin-top: $top-margin;
    margin-right: $side-margin;
    margin-left: $side-margin;
  }

  .create-form-group-details {
    display: flex;
    flex-flow: column nowrap;
  }

  .button-group {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    margin-top: $top-margin;
    margin-bottom: 10px;
    margin-left: $side-margin;

    mat-label {
      margin-bottom: 5px;
    }

    .mat-button-toggle-label-content .mat-button-toggle-appearance-standard {
      line-height: 0 !important;
    }
  }
  .button-group > * {
    //height: normal;
  }

  .add-steps-card {
    margin-top: $top-margin;
    margin-right: $side-margin;
    margin-left: $side-margin;
  }

  .add-steps-form-group {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .add-new-step-button {
    margin: $top-margin $side-margin $top-margin $side-margin;
  }
}
