<div>
  <h1 class="page-heading">{{'CREATE_SPORT_PLAN.heading' | translate}}</h1>

  <form *ngIf="createFormGroup" [formGroup]="createFormGroup" class="create-sport-form">

    <mat-vertical-stepper [linear]="true">
      <!-- stepControl only validity check -->
      <mat-step [stepControl]="createFormGroup.get('sportType')">
        <ng-template matStepLabel>{{'CREATE_SPORT_PLAN.stepper.planDetails.label' | translate}}</ng-template>

        <mat-form-field>
          <mat-label>{{'CREATE_SPORT_PLAN.form.planName.label' | translate}}</mat-label>
          <input matInput type="text"
                 formControlName="name"
                 autocomplete="off">
          <mat-error *ngIf="createFormGroup.get('name').hasError('required') && createFormGroup.get('name').touched">
            {{'FORM.error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="createFormGroup.get('name').hasError('maxlength')">
            {{'FORM.error.maxlength' | translate:{ number: createFormGroup.planNameMaxLength } }}}
          </mat-error>
        </mat-form-field>

        <div class="create-sport-form__button-group">
          <mat-label>{{'CREATE_SPORT_PLAN.form.sportType.label' | translate}}</mat-label>
          <mat-button-toggle-group formControlName="sportType" #sportTypeButtonGroup [multiple]="false">
            <mat-button-toggle *ngFor="let item of sportTypes;" value="{{item}}" aria-label="{{ 'CREATE_SPORT_PLAN.form.sportType.label' | translate:{level: item} }}">
              {{ item }}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="create-sport-form__main-details">
          <mat-form-field>
            <mat-label>{{'CREATE_SPORT_PLAN.form.description.label' | translate}} - {{'FORM.optional.label' | translate}}</mat-label>
            <textarea matInput type="text"
                      formControlName="description" [mat-autosize]="true"
                      autocomplete="off"></textarea>
            <mat-error *ngIf="createFormGroup.get('description').hasError('maxlength')">
              {{'FORM.error.maxlength' | translate:{ number: createFormGroup.planDetailsDescriptionMaxLength } }}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>{{'CREATE_SPORT_PLAN.form.goal.label' | translate}}</mat-label>
            <input matInput type="text"
                   formControlName="goal"
                   autocomplete="off">
            <mat-error *ngIf="createFormGroup.get('goal').hasError('required') && createFormGroup.get('goal').touched">
              {{'FORM.error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="createFormGroup.get('goal').hasError('maxlength')">
              {{'FORM.error.maxlength' | translate:{ number: createFormGroup.planDetailsGoalMaxLength } }}}
            </mat-error>
          </mat-form-field>
        </div>

      </mat-step>

      <mat-step [stepControl]="createFormGroup.get(createFormGroup.specialDetailsFormControlKey)">
        <ng-template matStepLabel>{{'CREATE_SPORT_PLAN.stepper.planSpecialDetails.label' | translate}}</ng-template>

        <!-- the controls content of this form depends on the chosen sportType (controls are overlapped)-->
        <form *ngIf="createFormGroup.controls[createFormGroup.specialDetailsFormControlKey]"
              formGroupName="{{createFormGroup.specialDetailsFormControlKey}}">

          <div *ngIf="createFormGroup.controls[createFormGroup.specialDetailsFormControlKey].controls.level"
               class="create-sport-form__button-group">
            <mat-label>{{'CREATE_SPORT_PLAN.form.level.label' | translate}}</mat-label>
            <mat-button-toggle-group formControlName="level" #levelButtonGroup [multiple]="false">
              <mat-button-toggle *ngFor="let item of levels;" value="{{item}}" aria-label="{{ 'CREATE_SPORT_PLAN.form.level.label' | translate:{level: item} }}">
                {{ item }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

          <div *ngIf="createFormGroup.controls[createFormGroup.specialDetailsFormControlKey].controls.ageClass"
               class="create-sport-form__button-group">
            <mat-label>{{'CREATE_SPORT_PLAN.form.ageClass.label' | translate}}</mat-label>
            <mat-button-toggle-group formControlName="ageClass" #ageClassButtonGroup [multiple]="false">
              <mat-button-toggle *ngFor="let item of ageClassesForFootball;" value="{{item}}" aria-label="{{ 'CREATE_SPORT_PLAN.form.ageClass.label' | translate:{level: item} }}">
                {{ item }}
              </mat-button-toggle>
            </mat-button-toggle-group>
          </div>

        </form>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{'CREATE_SPORT_PLAN.stepper.steps.label' | translate}}</ng-template>

        <mat-card formArrayName="steps"
                  class="create-sport-form__add-steps-card"
                  *ngFor="let stepGroup of createFormGroup.get('steps').controls, let i = index">

          <div [formGroupName]="i" class="create-sport-form__add-steps-form">

            <mat-form-field>
              <mat-label>{{'CREATE_SPORT_PLAN.form.steps.name.label' | translate}}</mat-label>
              <input matInput type="text"
                     formControlName="name"
                     autocomplete="off">
              <mat-error *ngIf="createFormGroup.get('steps').controls[i].get('name').hasError('required') && createFormGroup.get('steps').controls[i].get('name').touched">
                {{'FORM.error.required' | translate}}
              </mat-error>
              <mat-error *ngIf="createFormGroup.get('steps').controls[i].get('name').hasError('maxlength')">
                {{'FORM.error.maxlength' | translate:{ number: createFormGroup.planStepNameMaxLength } }}}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{'CREATE_SPORT_PLAN.form.steps.description.label' | translate}} - {{'FORM.optional.label' | translate}}</mat-label>
              <textarea matInput type="text"
                        formControlName="description" [mat-autosize]="true"
                        autocomplete="off"></textarea>
              <mat-error *ngIf="createFormGroup.get('details.description').hasError('maxlength')">
                {{'FORM.error.maxlength' | translate:{ number: createFormGroup.planStepDescriptionMaxLength } }}}
              </mat-error>
            </mat-form-field>

          </div>

        </mat-card>

        <button mat-button
                type="button"
                class="create-sport-form__add-new-step-button"
                (click)="this.createFormGroup.addNewStep()">{{'CREATE_SPORT_PLAN.form.steps.addNew' | translate}}</button>
      </mat-step>
    </mat-vertical-stepper>

  </form>
</div>
