
$side-margin: 30px;
$top-margin: 15px;

.football-form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  mat-form-field {
    margin-left: $side-margin;
    margin-right: $side-margin;
    min-width: 40%;
  }

  .football-form__main-details {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
  }

  .football-form__button-group {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    margin-left: $side-margin;
    margin-top: $top-margin;
    width: fit-content;

    mat-label {
      margin-bottom: 5px;
    }
  }

  // modify material design
  .mat-card {
    background: #424280;
  }

  .create-sport-form__add-steps-card {
    margin-left: $side-margin;
    margin-right: $side-margin;
    margin-top: $top-margin;

    .create-sport-form__add-steps-form {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
    }
  }

  .create-sport-form__add-new-step-button {
    margin: $top-margin $side-margin $top-margin $side-margin;
  }
}
